<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/devicewkip.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

  <div id="info">
    <form action="">
      <div>
        <div><label for="device"><b>Chọn thiết bị</b></label></div>

        <select name="device" class="input-field" id="device">
          {% for cam in listCamera %}
          <option value="{{cam[0]}}">{{cam[1]}}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <div><label for="shift"><b>Chọn kíp</b></label></div>
        <select name="shift" class="input-field" id="shift">
          <option value="1">Kíp 1</option>
          <option value="2">Kíp 2</option>
          <option value="3">Kíp 3</option>
          <option value="4">Kíp 4</option>
          <option value="5">Kíp 5</option>
          <option value="6">Kíp 6</option>
          <option value="7">Kíp 7</option>
          <option value="8">Kíp 8</option>
          <option value="9">Kíp 9</option>
        </select>
      </div>

      <div>
        <div><label for="start"><b>Chọn ngày</b></label></div>

        <input type="date" id="start" name="trip-start" class="input-field" style="width: 100%;padding: 8px 24px 8px 24px;
    border:2px #E5E5E5 solid;
    border-radius: 8px;">

      </div>
    </form>

    <!-- <button id="setstt">Set lại trạng thái</button> -->


    <div>
      <div id="left_div">
        <!-- biểu đồ trái-->
        <h1 style="font-size:130%;margin-left: 10px; margin-top: 10px">Biểu đồ cảm xúc</h1>

        <canvas id="myChart" max-width="600px" max-height="250px"
          style="display: block; box-sizing: border-box; height: 250px !important; width: 1196px;"></canvas>

        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var xlabels = ["Tức giận", "Sợ hãi", "Hạnh phúc",
            "Bình thường", "Buồn", "Ngạc nhiên"];
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: xlabels,
              datasets: [{
                label: ['Số lượng'],
                data: {{ data1 }},
            backgroundColor: [
              '#855CF8',
              '#9C7AFF',
              '#AE92FF',
              '#BBA2FF',
              '#C6B3FF',
              '#D9CBFF',
              '#E9E2FF'
            ],
            borderColor: [
              '#855CF8',
              '#9C7AFF',
              '#AE92FF',
              '#BBA2FF',
              '#C6B3FF',
              '#D9CBFF',
              '#E9E2FF'
            ],
            borderWidth: 1,
            borderRadius: 15,
            borderSkipped: false
          }]
                      },
          options: {
            responsive: true,
              scales: {
              y: {
                grid: {
                  display: false
                }
              },
              x: {
                grid: {
                  display: false,
                }
              }
            },
            plugins: {
              title: {
                display: true,
                  // text: 'Biểu đồ cảm xúc',
                  align: 'start',
              },
              legend: {
                position: 'right',
                  display: false
              }
            }
          }
        });
        </script>

      </div>

      <div id="right_div">
        <!-- biểu đồ phải -->
        <h1 style="font-size:130%;margin-left: 10px; margin-top: 10px;">Sử dụng thiết bị</h1>

        <br>
        <table style="width:100%">
          <tr>
            <th>Note</th>
            <th>Số lượng</th>
          </tr>
          <tr>
            <td>Sử dụng điện thoại</td>
            <td id="useSmartPhone">{{infor_class['useSmartPhone']}}</td>
          </tr>
          <tr>
            <td>Sử dụng máy tính</td>
            <td id="useLaptop">{{infor_class['useLaptop']}}</td>
          </tr>
          <tr>
            <td>Khác</td>
            <td id="other">{{infor_class['other']}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="bar">
    <div class="emotion selected" style="border-bottom:2px solid #2ecc71" id="e0">Cảm xúc tức giận</div>
    <div class="emotion" id="e1">Cảm xúc sợ hãi</div>
    <div class="emotion" id="e2">Cảm xúc hạnh phúc</div>
    <div class="emotion" id="e3">Cảm xúc bình thường</div>
    <div class="emotion" id="e4">Cảm xúc buồn</div>
    <div class="emotion" id="e5">Cảm xúc ngạc nhiên</div>

  </div>

  <div id="image">
    {% for image in listImage %}

    <div><img src="{{image}}" alt="img"></div>
    {% endfor %}
  </div>



</body>

</html>