<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <section>
        <div class="img-bg">
            <img src="static/image/beach-seascape-sunset-sea-beautiful-more-pliazh-zakat.jpg"" alt=" background">
        </div>
        <div class="noi-dung">
            <div class="form">
                <h2>Trang Đăng Nhập</h2>
                <form action="" method='post'>
                    <div class="input-form">
                        <label for="usr">Tên Người Dùng</label>
                        <input type="text" name="nm" placeholder='User Name' id='usr'>
                    </div>
                    <div class="input-form">
                        <label for="pwd">Mật Khẩu</label>
                        <input type="password" name="pass" placeholder="Password" id='pwd'>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class=flashes>
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="input-form">
                        <input type="submit" value="Đăng Nhập">
                    </div>
                    <div class="input-form">
                        <p>Bạn Chưa Có Tài Khoản? <a href="#">Đăng Ký</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>